body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.search {
  padding: 20px 0;
  width: 100vw;
  background: #95afc0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.search .search-form {
  position: relative;
  width: 70%;
  height: 60px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search .search-form.focus {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .search .search-form {
    width: 90%;
  }
}

.search .search-input {
  font-size: 1.5rem;
  background: none;
  color: #5a6674;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  text-indent: 10px;
}

.search .search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search .search-button {
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
  border: none;
  background: none !important;
  outline: none !important;
  cursor: pointer;
}

.search .search-button svg {
  margin: 13px 20px;
  width: 60px;
  height: 60px;
  fill: #5a6674;
}

.search .sort-list {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 160px;
  font-size: 1.2rem;
  line-height: 60px;
  list-style-type: none;
  position: relative;
  color: #5a6674;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.search .sort-list:hover .sort-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.search .sort-list .sort-dropdown {
  border-top: 2px solid #5a6674;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  display: none;
  opacity: 0;
  font-weight: normal;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  line-height: 1;
}

.search .sort-list .sort-dropdown li {
  text-align: center;
  padding: 20px;
}

.search .sort-list .sort-dropdown li a {
  text-decoration: none;
  color: #5a6674;
  font-size: 1.1rem;
}

.search .sort-list .sort-dropdown li a::after {
  content: '';
  display: block;
  margin-left: 5px;
  height: 16px;
  width: 16px;
  background: url("../image/sort-arrows.png") no-repeat;
}

.search .sort-list .sort-dropdown li:hover {
  border-bottom: 2px solid #5a6674;
}

.series {
  margin-top: 100px;
}

.series .sort_filter_bar {
  position: -webkit-sticky;
  position: sticky;
  top: 79px;
  height: 80px;
  background: #dfe6e9;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 2;
}

.series .sort_filter_bar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.series .sort_filter_bar ul li {
  margin: 0 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.series .sort_filter_bar ul li a {
  text-decoration: none;
  color: #000;
}

.series .sort_filter_bar ul li a.is-active {
  font-weight: bold;
}

.series .sort_filter_bar ul li .sort-reverse {
  margin-left: 5px;
  height: 16px;
  width: 16px;
  display: block;
  background: url("../image/sort-arrows.png") no-repeat;
}

.series .sort_filter_bar ul li .sort-reverse:hover {
  cursor: pointer;
}

.series .no-result {
  width: 100%;
  height: 80px;
  background: #eb4d4b;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.series .no-result--is-active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.series .no-result p {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.series .item {
  width: 350px;
  height: auto;
  border: 2px solid black;
  position: relative;
  margin: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.series .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
}

.series .item__image img {
  width: 100%;
  height: 100%;
}

.series .item__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 80px;
  position: absolute;
  right: 0px;
  top: 60%;
  background: #f0932b;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.series .item__rating span {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-right: 10px;
}

.series .item__rating span::before {
  content: '';
  width: 25px;
  height: 20px;
  display: block;
  background: url(../image/star.svg) no-repeat;
  position: absolute;
  left: -30px;
  top: -1px;
}

.series .item__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 0;
  background: #6ab04c;
  height: 50px;
  width: 90px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0;
}

.series .item__status--is-active {
  opacity: 1;
}

.series .item__status span {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}

.container {
  margin: 0 auto;
  width: 1310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=main.css.map */