body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.search {
    height: 100vh;
    width: 100vw;
    background: #95afc0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        position: relative;

        .search__input {
            width: 100%;
            padding: 10px 20px;
            background-color: #fff;
            border-color: #dbdbdb;
        }
        .search__submit {
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: yellow;

            &:before {
                content: "";
                display: block;
                height: 50px;
                width: 50px;
                background: url('../image/magnifying-glass.svg') no-repeat;
            }
        }
    }
}